@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-bg: #02044a;
    --clr-text: #fff;
    --clr-white: #fff;
    --clr-black: #02044a;
    --clr-gray: #bfbfbf;
    --clr-gray-sec: #4f5196;

    --clr-green: #25cd89;
    --clr-yellow: #ead365;
    --clr-red: #e04d4d;

    --clr-modelo-1: rgba(125, 98, 232, 0.25);
    --clr-modelo-2: rgba(232, 98, 98, 0.25);
    --clr-modelo-3: rgba(232, 158, 98, 0.25);
    --clr-modelo-4: rgba(152, 232, 98, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text);
    padding-block: 4rem;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 1140px;
    max-width: 100%;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.header {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-gray-sec);
}

.title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-black);
}

.form {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.steps-group {
    display: grid;
    grid-template-columns: 5rem 1fr;
    border: 1px solid var(--clr-gray-sec);
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.modelo-1 {
    background-color: var(--clr-modelo-1);
}

.modelo-2 {
    background-color: var(--clr-modelo-2);
}

.modelo-3 {
    background-color: var(--clr-modelo-3);
}

.modelo-4 {
    background-color: var(--clr-modelo-4);
}

.modelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2rem 1rem;
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-radius: 1rem 0 0 1rem;
}

.modelo-1 .modelo {
    background-color: var(--clr-modelo-1);
    color: var(--clr-white);
}

.modelo-2 .modelo {
    background-color: var(--clr-modelo-2);
    color: var(--clr-white);
}

.modelo-3 .modelo {
    background-color: var(--clr-modelo-3);
    color: var(--clr-white);
}

.modelo-4 .modelo {
    background-color: var(--clr-modelo-4);
    color: var(--clr-white);
}

.modelo h2 {
    font-weight: 500;
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    line-height: 1;
    position: sticky;
    top: 2rem;
    text-transform: uppercase;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modelo h2 img {
    width: 3rem;
}

.steps-group-body {
    padding: 1rem;
    border-left: 1px solid var(--clr-gray-sec);
}


.principio {
    position: sticky;
    top: 0;
    padding: .75rem 1rem;
    border-radius: 0 0 .5rem .5rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--clr-gray-sec);
    background-color: var(--clr-white);
    color: var(--clr-black);
}

/* .principio {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.principio h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

.temas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tema {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-text);
    border-radius: .5rem;
    color: var(--clr-bg);
}

.tema h4 {
    font-size: 1rem;
    font-weight: 500;
}

.comportamientos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.comportamientos.doble {
    border-top: 2px solid var(--clr-white);
    padding-top: 1rem;
}

.comportamientos > input[type=radio] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}

.comportamientos > input[type=radio] + label {
    padding: 1.5rem;
    border: 1px solid var(--clr-gray-sec);
    border-radius: .5rem;
    cursor: pointer;
    background-color: var(--clr-white);
    transition: .2s;
}

.comportamientos > input[type=radio] + label:hover {
    padding: 1.5rem;
    border: 1px solid var(--clr-gray);
    background-color: var(--clr-gray);
    cursor: pointer;
}

.comportamientos > input[type=radio].rojo:checked + label {
    background-color: var(--clr-red);
    border-color: var(--clr-red);
}

.comportamientos > input[type=radio].amarillo:checked + label {
    background-color: var(--clr-yellow);
    border-color: var(--clr-yellow);
}

.comportamientos > input[type=radio].verde:checked + label {
    background-color: var(--clr-green);
    border-color: var(--clr-green);
}

.tema textarea {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-black);
    border-radius: .5rem;
    color: var(--clr-black);
    padding: 1rem;
    resize: none;
}

.tema textarea:focus {
    outline: 0;
    border: 1px solid var(--clr-black);
}

@media screen and (max-width: 768px) {
    body {
        padding-block: 2rem;
    }

    .comportamientos {
        grid-template-columns: 1fr;
    }

    .steps-group {
        grid-template-columns: 3rem 1fr;
    }

    .modelo h2 {
        font-size: 1.1rem;
    }

    .principio h3 {
        font-size: 1rem;
    }
}